body {
  background-color: black;
  font-family: Arial, sans-serif;
}
ul {
  list-style-type: none;
}
/************************* HEADER ***************************/
header {
  background-image: url(../img/eggs.jpg);
  background-position: top;
  background-repeat: no-repeat;
  height: 700px;
  text-transform: uppercase;
}
/************************* NAV  ***************************/

.logo_nav {
  display: flex;
  justify-content: space-around;
  color: white;
}
.menu {
  color: white;
  display: flex;
}
.menu li {
  padding: 5px 10px;
}
.title_header {
  color: white;
  text-align: center;
}
.title_header h2 {
  color: yellow;
  text-align: center;
  margin: auto;
  height: 30px;
  text-transform: capitalize;
}
/************************* FIN NAV  ***************************/

/************************* FIN HEADER ***************************/
/************************* MAIN ***************************/
/************************* ASIDE LEFT ***************************/
/************************* SECTION 1 ***************************/
/************************* SECTION 2 ***************************/
/************************* SECTION 3 ***************************/
/************************* ASIDE RIGHT ***************************/
/************************* FOOTER ***************************/
