.container {
  width: 1440px;
  margin: auto;
}

header {
  background-image: url("../img/MicrosoftTeams-image\ \(10\).png");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

